<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Title {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
    <div class="contaner">
        {% for msg in get_flashed_messages() %}
        <div class="alert alter-danger">{{ msg }}</div>
        {% endfor %}

    </div>
    
    <h1>HASH USER TEST</h1>

    {% block content %} Content {% endblock %}

    <br>

    <footer>Copyright Jared Glenn</footer>

</body>
</html>